* {
  box-sizing: border-box;
}

:root {
  --purple: #9356DC;
  --pink: #FF79DA;
  --cyan: #99E2D0;
  --button-gradient: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
}

body {
  margin: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "roboto", sans-serif;
  background-color: white;
}

.title-h2 {
  padding: 25px 0;
  margin: 0;
}

.Logo {
  text-align: center;
  margin: 30px 0px;
}
.Logo_taille {
  width: 200px;
  height: 34px;
}

.city {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  background-color: #eaeaea;
  height: 50px;
}
.city__h2 {
  font-weight: 400;
}

.explore {
  text-align: center;
  background-color: #F6F6F6;
  height: 270px;
  margin: auto;
  padding-top: 1px;
}
.explore__h1 {
  font-size: 24px;
}
.explore__p {
  font-weight: 300;
  font-size: 18px;
}
.explore__button {
  min-width: 186px;
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 18px;
  padding: 13px 18px;
  border-radius: 25px;
  border: none;
  height: 50px;
  background: var(--button-gradient);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin-top: 18px;
}
.explore__button:hover {
  opacity: 0.85;
  color: #ffffff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

.fonct {
  padding-left: 25px;
  padding-right: 25px;
}
.fonct ol {
  list-style-type: none;
  display: flex;
  gap: 36px;
}
@media (max-width: 1024px) {
  .fonct ol {
    flex-direction: column;
    padding: 0px;
    align-items: center;
  }
}
.fonct li {
  display: flex;
  background-color: #F6F6F6;
  padding: 20px 20px;
  flex-grow: 1;
  border-radius: 15px;
  width: 100%;
  height: 72px;
  align-items: center;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.fonct li .fa-solid {
  color: #7E7E7E;
  margin-right: 20px;
}
.fonct li .fonct__num {
  background-color: #9356DC;
  color: white;
  display: grid;
  width: 24px;
  height: 24px;
  place-items: center;
  border-radius: 50px;
  position: relative;
  left: -30px;
}

.menus {
  background-color: #F6F6F6;
  margin-top: 50px;
  padding-bottom: 66px;
  height: 100%;
  padding-left: 25px;
  padding-right: 25px;
}
.menus .menus_cards {
  grid-template-columns: 1fr;
  display: grid;
  gap: 18px;
}
@media (min-width: 1000px) {
  .menus .menus_cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
    width: 100%;
  }
}
.menus .menus_cards .card {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  height: 250px;
  text-decoration: none;
  color: inherit;
  position: relative;
}
.menus .menus_cards .card_img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
}
.menus .menus_cards .card_nouveau {
  position: absolute;
  height: 24px;
  width: 80px;
  background-color: #99E2D0;
  display: grid;
  top: 15px;
  right: 25px;
  place-items: center;
  color: #008766;
  border-radius: 2px;
}
.menus .menus_cards .card_description {
  position: relative;
  background-color: white;
  margin-top: -9px;
  border-radius: 0 0 15px 15px;
  height: 77px;
}
.menus .menus_cards .card_description .card_description_titre {
  padding-top: 13px;
  padding-left: 18px;
  margin: 0;
}
.menus .menus_cards .card_description .card_description_lieu {
  padding-top: 5px;
  padding-left: 18px;
  font-weight: 300;
  margin: 0;
}
.menus .menus_cards .card_description .card_description_hearth {
  position: relative;
  font-size: 18px;
  border-radius: 15px;
  padding: 15px 13px;
}

.heart-1 {
  opacity: 1;
  position: absolute;
  z-index: 2;
  font-size: 25px;
  width: 25px;
  height: 25px;
  top: 175px;
  right: 12px;
}
.heart-1:hover {
  opacity: 0;
}

.heart-2 {
  position: absolute;
  top: 175px;
  right: 12px;
  opacity: 0;
  z-index: 2;
  background: linear-gradient(360deg, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 25px;
  width: 25px;
  height: 25px;
  transition: all 0.3s linear 0s;
}
.heart-2:hover {
  opacity: 1;
  transition: all 0.2s linear 0s;
}

.foot {
  background-color: #353535;
  color: white;
}
@media (min-width: 1000px) {
  .foot {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 114px;
  }
}
.foot_img {
  width: 137px;
  height: 27px;
  filter: invert(100%);
  margin-left: 25px;
  margin-top: 22px;
  margin-bottom: 16px;
}
@media (min-width: 1000px) {
  .foot_img {
    margin: 30px 25px;
  }
}
.foot_ul {
  list-style-type: none;
  margin-left: -20px;
}
@media (min-width: 1000px) {
  .foot_ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }
}
.foot_ul_li {
  display: flex;
  margin: 7px;
}
.foot_ul_li i {
  width: 12px;
  height: 12px;
  margin-right: 10px;
}
.foot_ul_li_link {
  text-decoration: none;
  color: white;
}

/******* Restaurant *******/
.menu-arrow {
  position: absolute;
  font-size: 20px;
  left: 40px;
  top: 40px;
  color: black;
  text-decoration: none;
}

.img_menu {
  width: 375px;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-menu {
  margin: 24px;
  position: relative;
}

.menu1 {
  font-family: "shrikhand", sans-serif;
}

.coeurRestaurant {
  top: 25%;
}
@media (min-width: 1000px) {
  .coeurRestaurant {
    right: 335px;
  }
}

.command {
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
  margin-top: -40px;
}
.command_menus {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  gap: 10px;
}
.command_entre {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  padding-bottom: 25px;
}
.command_entre_titre {
  text-transform: uppercase;
  position: relative;
  font-size: 18px;
}
.command_entre_titre::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 0;
  height: 3px;
  width: 50px;
  background-color: #99E2D0;
}

.plats {
  background-color: #FFFFFF;
  border-radius: 15px;
  margin-right: 20px;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  animation: appear 1s;
}

.command_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
  margin-left: 25%;
  margin-bottom: 40px;
  min-width: 186px;
  height: 50px;
  color: white;
  font-weight: 500;
  font-size: 18px;
  border-radius: 25px;
  border: none;
  background: var(--button-gradient);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.command_button:hover {
  opacity: 0.85;
  color: #ffffff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

.menu-item {
  overflow: hidden;
  padding: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  transition: all 1s;
}
.menu-item_check {
  display: flex;
  width: 0px;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  transition: all 1s;
  border-radius: 0 15px 15px 0;
}
.menu-item_check .check {
  display: block;
  font-size: 25px;
  color: white;
  transform: rotate(0deg);
  transition: transform 1s;
}
.menu-item:hover {
  transition: all 1s;
  padding-right: 57px;
}
.menu-item:hover .menu-item_check {
  width: 57px;
}
.menu-item:hover .menu-item_check .Check {
  transform: rotate(-360deg);
  transition: transform 1s;
}

.menu-prix {
  display: flex;
}

.prix {
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 900;
  padding-right: 5px;
}

.long-txt {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.delay-0 {
  animation-delay: 0s;
}

.delay-1 {
  animation-delay: 0.1s;
}

.delay-2 {
  animation-delay: 0.2s;
}

.delay-3 {
  animation-delay: 0.3s;
}

.delay-4 {
  animation-delay: 0.4s;
}

.delay-5 {
  animation-delay: 0.5s;
}

.delay-6 {
  animation-delay: 0.6s;
}

.delay-7 {
  animation-delay: 0.7s;
}

.delay-8 {
  animation-delay: 0.8s;
}

.delay-9 {
  animation-delay: 0.9s;
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}/*# sourceMappingURL=style.css.map */