* {
    box-sizing:border-box;
}

:root {
    --purple : #9356DC;
    --pink : #FF79DA;
    --cyan : #99E2D0;
    --button-gradient : linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
}
body {
    margin:0px;
    display:flex;
    justify-content:center;
    flex-direction: column;
    font-family:"roboto", sans-serif;
    background-color: white;
}

.Logo {
    text-align: center;
    margin:30px 0px;
    &_taille {
    width: 200px;
    height: 34px;
    }
}

.city{
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
    background-color: #eaeaea;
    height: 50px;

    &__h2 {
        font-weight: 400;
    }
}

.explore{
    text-align: center;
    background-color: #F6F6F6;
    height: 270px;
    margin:auto;
    padding-top: 1px;

    &__h1 {
        font-size:24px;
    }

    &__p{
        font-weight:300;
        font-size:18px;
    }
    
    &__button {
        min-width: 186px;
        text-align: center;
        color:white;
        font-weight: 500;
        font-size: 18px;
        padding: 13px 18px;
        border-radius: 25px;
        border:none;
        height: 50px;
        background: var(--button-gradient);
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    }
}